.tableContainer {
  max-width: 800px;
  margin: auto;
}

.table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.table th {
  background-color: #f2f2f2;
}

.table th:nth-child(odd),
.table td:nth-child(odd) {
  width: 200px;
}
